@page "/component"
@page "/hannes/{id:int}"
<h3>UseComponent1 @MyProperty @franz</h3>
<Component MyProperty="42"></Component>
@code {
    [Parameter]
    public int id { get; set; }
    [SupplyParameterFromQuery(Name = "sepp")]
    [Parameter]
    public string MyProperty { get; set; }
    [SupplyParameterFromQuery()]
    [Parameter]
    public string franz { get; set; }
}
