@page "/LifeCycle"
<h3>CompEvents</h3>
<button  @onclick="click">click</button>

@code {
    protected override void OnAfterRender(bool firstRender)
    {

    }
    protected override void OnInitialized()
    {

    }
    void click()
    {
        
    }
}
