<h3>USeComponent</h3>
<CascadingValue Value='@("eins")'>
    <CascadingValue Value="42" Name="Alter">
        <Component MyProperty="42" hannes="franz" width="100">
            <Head>
                <h1>Alles super!</h1>
            </Head>
            <Body>
                <h1>Alles super!</h1>
            </Body>
      

        </Component>
    </CascadingValue>
</CascadingValue>
@code {

}
