@page "/modal"
<h3>UseModal</h3>
<button type="button" class="btn btn-primary" @onclick="open" >
    Launch demo modal
</button>

<ModalPPEDV @ref="modal1" Titel="Hallo ppedv" OnSave="save">
    <div class="row">
        <div class="col">

            <label class="col-form-label">Eingabe:</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" @bind="eingabe">
                <button class="btn btn-outline-secondary" type="button">Send</button>
            </div>
        </div>
    </div>
</ModalPPEDV>
@code {
    ModalPPEDV modal1;
    String eingabe = "";
    void open()
    {
        modal1.Show();
    }
    void save()
    {
        eingabe = "";
        modal1.Show();
    }
}
